#
# ignore build byproducts
*.o
src/icons/*.png
src/icons/laidout-icons
src/icons/laidout-icons.zip
*-stamp
*.stamp
*.bak
makedepend
deb/laidout.debhelper.log
deb/laidout.postinst.debhelper
deb/laidout.postrm.debhelper
deb/laidout/
docs/html
src/po/*.mo
src/po/POTFILES
src/po/laidout-freshdump.pot
src/laidout
src/polyptych/src/panolyptych
src/polyptych/src/panoramanoise
src/polyptych/src/remapsphere
src/polyptych/src/skyflow
src/polyptych/src/spheretocubemap
src/plugins/**/*.so
coop/scribus/out.html
laxkit


#
# ignore configured files
Makefile-toinclude
config.log
src/version.h
src/configured.h

#
# ignore editing related
*.swp


#
# ignore various on the fly testing files
src/exported*
src/TESTING
TEMP
src/temp*
src/test*
src/TEMP*
src/*.jpg
src/*.png
src/*.pto
src/*.xml
src/*.laidout
src/*.nodes
src/*.tif
src/*.sla
src/*.svg
src/*.data
src/*.dump
src/*.html
src/default.keys
src/polyptych/src/*tif
src/polyptych/src/*jpg
docs/web
