[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Laidout
GenericName=Laidout
Comment=For laying out things into books and other things.
Exec=laidout
TryExec=laidout
Icon=laidout
Type=Application
Categories=Graphics;2DGraphics;VectorGraphics;Publishing;
