Source: laidout
Section: graphics
Priority: optional
Maintainer: Tom Lechner <tomlechner@users.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0), xlibs-dev, libimlib2-dev, libxpm-dev, libpng12-dev, libfreetype6-dev, libxext-dev
Standards-Version: 3.6.2

Package: laidout
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lays out pictures in cut and folded books.
 Laidout is burgeoning desktop publishing software.
 It can currently be used to lay out pictures into booklets.
 These pictures can be moved between pages by dragging them
 to and from the scratchboard. The pages themselves can be
 rearranged in a convenient page spread editor.
 .
 The whole shebang can be edited as single pages, or how the
 pages appear when the book is assembled, or how the pages
 appear on master printing pages according to whichever
 imposition you use.
 .
 The definition of an imposition is broad enough to allow 
 pages that do not even have to be rectangular. You can
 define and use a net that might correspond to some arcane
 polyhedron, for instance a dodecahedron with 12 images 
 corresponding to the 12 months of the year.
 .
 http://www.laidout.org

